[user]
	email = mbtamuli@gmail.com
	name = Mriyam Tamuli
	signingkey = C411F23E0515E902
[pull]
	rebase = false
[gpg]
	program = gpg
[commit]
	gpgsign = true
[color "diff"]
	whitespace = red reverse
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[core]
	editor = code --wait
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE